@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}


#root {
  width: 100%;
  height: 100%;
}

/* Link item shadow */
.group {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Styling for Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f3ede6; /* very light background to blend in */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #b9afa3; /* muted beige-gray tone */
  border-radius: 8px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f857a; /* slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b9afa3 #f3ede6;
}
